body{
	background-color: #DDD;
	color:#333;
}
#memory{
	background-color: #888;
	border: 1px solid #333;
	padding:2px;
	width: 256px;
	display: inline-block;
}
#memory canvas, #vram canvas{
	width: 100%;
	image-rendering: pixelated;
}
#vram{
	background-color: #aaa;
	border: 1px solid #333;
	padding:2px;
	width: 256px;
	display: inline-block;
	vertical-align: top;
}
#lcd-buffer{
	background-color: #ccc;
	border: 1px solid #333;
	padding:2px;
	width: 256px;
	height: 256px;
	display: inline-block;
	vertical-align: top;
}
.table{
	font-family : courier;
	font-size: 12px;
	background-color: #EEE;
	display: inline-block;
	width: auto;
	border: 1px solid #333;
	margin: 1px;
	padding: 1px;
}

.cell{
	width: 40px;
	text-align: left;
	border: 1px solid #CCC;
	background-color: #EEE;
}
.cellLong{
	width: 80px;
}

.row{
	text-align: center;
	background-color: #DDD;
	height: 20px;
}

#VRegisters, #stack, #keys{
	display: inline-block;

}