body{
	font-family: sans-serif;
	background-color: #DDD;
	color:#333;
}
.row label{
	font-size: 10px;
}
.column{
	float: left;
	text-align: left;
}
.column:not(:first-of-type){
	margin-left: 2px;
}
.column>div{
	background-color: #aaa;
	border: 1px solid #333;
	padding:2px;
	margin-bottom: 2px;
}
canvas{
	display: block;
	width: 100%;
	image-rendering: pixelated;
}
#memory{
	width: 128px;
}

#lcd-background{
	width: 256px;
	height: 256px;
}
#palette-bg,
#palette-0,
#palette-1{
	width: 128px;
	height: 32px;
}
#palette-bg canvas,
#palette-0 canvas,
#palette-1 canvas{
	background-color: #FF00FF;
}
#tile-map canvas{
	background-color: #FF00FF;
	width:128px;
}
#lcd canvas{
	background-color: #FF00FF;
	width:160px;
}

.table{
	font-family : courier;
	font-size: 12px;
	background-color: #EEE;
	display: inline-block;
	width: auto;
	border: 1px solid #333;
	margin: 1px;
	padding: 1px;
}

.cell{
	width: 40px;
	text-align: left;
	border: 1px solid #CCC;
	background-color: #EEE;
}
.cellLong{
	width: 80px;
}

.row{
	text-align: center;
	background-color: #DDD;
	height: 20px;
}

#VRegisters, #stack, #keys{
	display: inline-block;

}