body{
	background-color: #DDD;
	color:#333;
}
#vram{
	background-color: #888;
	border: 1px solid #333;
	padding:2px;
	width: 512px;
	height: 512px;
	
}
#vram canvas{
	transform: scale(4);
	transform-origin: top left;
	image-rendering: pixelated;
}
.table{
	font-family : courier;
	font-size: 12px;
	background-color: #EEE;
	display: inline-block;
	width: auto;
	border: 1px solid #333;
	margin: 1px;
	padding: 1px;
}

.cell{
	width: 40px;
	text-align: left;
	border: 1px solid #CCC;
	background-color: #EEE;
}
.cellLong{
	width: 80px;
}

.row{
	text-align: center;
	background-color: #DDD;
	height: 20px;
}

#VRegisters, #stack, #keys{
	display: inline-block;
	
}